__pycache__/
*.pyc
*.pyo
venv/
.venv/
env/
logs/
airflow.db
airflow-webserver.pid
standalone_admin_password.txt
webserver_config.py
.env
.env.local
config.py
.idea/
.vscode/
*.swp
Thumbs.db
Desktop.ini
.DS_Store
metastore_db/
derby.log
spark-warehouse/
checkpoint/
.ipynb_checkpoints/